.container {
    position: absolute;
    width: 100vw;   
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 900px;
    height: 100vh;
    background-color: var(--clr-black);
    display: flex;
    align-items: center;
    padding: 50px 100px;
    gap: 10px;
  }

  .left {
    width: 50%;
    height: 100%;
    background-color: var(--clr-cream);
    padding: 20px;
    font-family: 'Caveat';
    position: relative;
  }

  .left > h1 {
    color: var(--clr-lightblack);
    font-size: 4rem;
    text-align: center;
    border-bottom: 3px solid var(--clr-pink);
  }
  
  .description {
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 30px;
    padding-right: 40px;
  }

  .right {
    width: 50%;
    height: 100%;
    background-color: var(--clr-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .punch__container__right {
    position: absolute;
    width: 50px;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .punch__right {
    background-color: var(--clr-lightblack);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .punch__container__left {
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .punch__left {
    background-color: var(--clr-lightblack);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .qbank {
    height: 80%;
    width: 80%;
    object-fit: contain;
  }

  .project__number {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 4rem;
    transform: rotate(-25deg);
  }

  .arrow__left {
    color: var(--clr-cream);
    position: absolute;
    left: 2.5%;
    top: 50%;
    transform: translate(-2.5%, -50%);
    font-size: 3rem;
    cursor: pointer;
  }

  .arrow__right {
    color: var(--clr-cream);
    position: absolute;
    right: 2.5%;
    top: 50%;
    transform: translate(-2.5%, -50%);
    font-size: 3rem;
    cursor: pointer;
  }

  @media (max-width: 1500px) {    
    .left > h1 {
      font-size: 2.5rem;
      padding-bottom: 10px;
    }

    .project__number {
      font-size: 3rem;
    }

    .description {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 1300px) {
    .left {
      height: 75%;
    }

    .right {
      height: 75%;
      padding-left: 30px;
    }

    .left > h1 {
      padding-bottom: 5px;
    }

    .description {
      font-size: 1.2rem;
      margin: 5px;
    }
  }

  @media (max-width: 1100px) {
    .container {
      flex-direction: column;
    }

    .left, .right {
      min-height: 600px;
      min-width: 430px;
    }
  }

  @media (max-width: 750px) {
    .container {
      top: 70px;
    }
  }

  @media (max-width: 650px) {
    .container {
      top: 70px;
      padding: 10px;
      min-height: 1000px;
    }

    .left, .right {
      min-height: 400px;
      max-height: 500px;
      min-width: 300px;
    }

    .left > h1 {
      font-size: 1.7rem;
    }

    .description {
      font-size: 0.9rem;
    }

    .project__number {
      font-size: 2rem;
    }

    .arrow__left {
      font-size: 2rem;
    }
  
    .arrow__right {
      font-size: 2rem;
    }

  }

  @media (max-width: 400px) {
    .container {
      padding: 0px;
      min-height: 680px;
      max-height: 680px;
    }
  
    .arrow__left {
      bottom: 32%;
    }
  
    .arrow__right {
      bottom: 32%;
    }

    .left, .right {
      min-height: 300px;
      min-width: 220px;
    }

    .left {
      padding: 0px;
      height: 300px;
    }

    .right {
      height: 300px;
    }

    .description {
      font-size: 0.6rem;
    }

    .punch__container__left, .punch__container__right {
      margin: 0px;
      padding: 10px 0px;
    }

    .project__number {
      font-size: 1.5rem;
      top: 2.5px;
      left: 2.5px;
    }

    .punch__left, .punch__right {
      width: 10px;
      height: 10px;
    }
  }